<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Blog Tests">
        <classes>
            <class name="br.com.blogdoagi.tests.BlogTests">

            </class>
        </classes>
    </test>
</suite>
